
:root{
    --background:#ffffff;
    --text:#1A1A1A;
    --text-keyword:#0000FF;
    --text-variables:#001080;
    --text-type:#108d20;
    --surface:#F5F5F5;
    --accent:#0078D4;
    --accent-hover:#005A9E;
    --border:#444444;
}

:root.dark{
    --background:#121212;
    --text:#ffffff;
    --text-keyword:#569CD6;
    --text-variables:#9CDCFE;
    --text-type:#6fd6af;
    --surface:#1E1E1E;
    --accent:#4F9DFF;
    --accent-hover:#1A73E8;
    --border:#aaaaaa;
}

body{
    color: var(--text);
    background-color: var(--background);
}

/* main */
main{
    display: flex;
    align-items: flex-start;
}

@media (max-width: 1000px) {
    main{
        flex-direction: column;
        align-items: stretch;
    }
}

.dropdown {
    position: relative; display: inline-block;
    margin-left: 20px;
}

.dropdown-panel {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 2px;
    padding-left: 20px;
    margin: 0;
    background-color: var(--background);
}

.dropdown-panel-item:hover{
    background-color: var(--accent-hover);
}

/* main-panel */
.main-panel{
    flex-basis: 75%;
    max-width: 98vh;
}

/* main-grid */
.main-grid{
    background-color: var(--border);
    aspect-ratio: 1/1;
    border: solid var(--border) 1px;
    display: grid;
    gap: 1px;
}

.main-grid .grid-cell{
    background-color: var(--background);
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

#set-brush-button{
    min-width: 40px;
    min-height: 40px;
}

/* rules-inspector */
.rules-inspector{
    border: solid var(--border) 1px;
    flex-basis: 25%;
    min-height: 98vh;
    text-align: center;
}

#cell-classes-list{
    background-color: var(--surface);
    min-height: 50px;
}

.cell-class-header{
    display: flex;
    justify-content: space-between;
}

.cell-class-rules{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    border-left-color: var(--border);
    border-left-width: 1px;
    border-left-style: solid;
}

.cell-class-new-rule{
    position: relative;
}

.cell-class-new-rule-dropdown{
    position: absolute;
}

.cell-class-rule-header{
    display: flex;
}

.variable{
    display: flex;
}

.variable>p{
    margin: 0 5px;
    background-color: var(--background);
}

.variable-name{
    color: var(--text-keyword);
}

.variable-type{
    color: var(--text-type);
}

.variable-value{
    color: var(--text-variables);
}
